{% extends 'base.html' %}
{% block title %}
Login
    
{% endblock %}

{% block content %}
<h1 class="my-5 text-center">Login</h1>
<div class="container">
    <form action="" method="post">
        {{ form.hidden_tag() }}
        {{ form.username.label() }}
        {{ form.username(class="form-control", placeholder="Username") }}
        <br>
        {{ form.password.label() }}
        {{ form.password(class="form-control", placeholder="Password", autocomplete="off")}}
        <br>
        <div class="checkbox mb-3">
            <h6>Do not have an account?</h6>
            <a class="btn btn-sm btn-secondary" href="{{ url_for('register_page') }}">Register</a>
         </div>
         <br>
        {{ form.submit(class="btn btn-lg btn-success")}}
    </form>
</div>
    
{% endblock %}